.title {
  font-family: 'Maven Pro', sans-serif;
  font-size: 530%;
  margin-top: 14.5%;
  transition: .3s;
  color: rgb(255,81,110);
  padding:3%;
  max-width: 50%;
  margin-left: 5%;
}

.face {
  width: 42%;
  height: 46%;
  padding: 3%;
  margin-top: 3%;
  margin-right: 3%;
  transition: .3s;
}
.face:hover {
  width: 43%;
  height: 46%;
  transition: .3s;
}

@media only screen and (max-width:1290px) {
  .face {
    margin-top: 15%;
  }
  .title {
    font-size: 400%;
    padding-top: 8%;
  }
}
#page1 {
  display: flex;
  justify-content: space-between;
}

#projects {
  margin-top: 10%;
}

/* Scrollbar */
    
::-webkit-scrollbar {
  width: 20px;
}
      
::-webkit-scrollbar-track {
  background-color: transparent;
}
      
::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
}
      
::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
}
      
::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
      
::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
  transition: 2000ms;
}
      
/* Cursor */
      
html{cursor:url(/assets/others/cursor.png),default;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

  html {
    scroll-behavior: smooth;
  }

.heyimzayyan {
  text-align: center;
  font-size: 200%;
  font-family: 'Maven Pro', 'sans-serif';
  position: absolute;
  margin-top: 14%;
  margin-left: 10%;
  color: rgb(255, 255, 255);
  background-color: rgb(255,81,110);
  padding: 0.4%;
  border-radius: 3%;
  z-index: -1000;
}

h1 {
  color:black;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 110%;
  overflow: hidden; 
  background-color: #0f0f0f;
  position: fixed;
  font-family: 'Maven Pro', 'sans-serif';
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

.topnav li a:hover:not(.active) {
  transition: 0.3s;
  background-color: #525252;
}

#about {
  margin-top: 9%;
  background-color: #000000bb;
  padding: 1%;
  padding-bottom: 1%;
}

.titleabout {
  font-family: 'Maven Pro', sans-serif;
  font-size: 530%;
  color: rgb(255,81,110);
  padding:2%;
  text-align: center;
}

.aboutmedesc {
  text-align: center;
  max-width: 37.5%;
  color: rgb(230, 230, 230);
  font-family: 'maven pro', 'sans-serif';
  font-size: 125%;
  margin-bottom: 1%;
  margin-left: 31%;
}

.titleportfolio {
  text-align: center;
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 530%;
  color: rgb(255,81,110);
  padding-top: 5%;
  margin-bottom: 1%;
}

#repos {
  position: relative;
}

.repo-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.repo-list li {
  width: 100%;
  min-height: 180px;
  border-radius: 10px;
  margin: 1em 0;
  border: 1px solid var(--accent);
  padding: 1em;
  text-align: center;
  background-color: var(--bg-user);
}

.repo-list li:hover {
  background-color: var(--bg-main);
  box-shadow:
      0 3px 6px var(--accent),
      0 3px 6px var(--accent);
}


.link-btn {
  padding: 10px 20px;
  background: var(--bg-main);
  border-radius: 30px;
  border: 2px solid var(--accent);
  color: var(--text);
}

.link-btn:hover {
  background: var(--accent);
  border: 2px solid var(--text);
  transform: scale(1.1);
}

.repo {
  list-style:none;
  color: white;
  padding: 100%;
  background-color: white;
  display:inline-block;
}